.calculator {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    max-width: 30%;
}

h1 {
    text-align: center
}

.buttons {
    display: block;
    background-color: #697b82;
}

button {
    width: 25%;
    height: 60px;
    font-size: 30px;
    background-color: aquamarine;
}

.result p {
    font-size: 2em;
}

.records h2 {
    font-size: 2em;
    text-align: center;
}

.records p {
    text-align: center
}